/* General styles */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

#popUp {
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}

#popUp .closePopUp {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #227C9D;
  text-decoration: none;
}

#popUp.loader {
  background-image: url(../images/ajax_loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#popUp.loader .container {
  /*display: none;*/
}

#popUp .container {
  margin-top: 80px;
}

#popUp h1 {
  margin-bottom: 0;
  color: #227C9D;
}

#popUp p {
  color: #227C9D;
}

#popUp .popUpAction {
  padding: 10px;
  background-color: #fe052c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transform: 0.2s all;
  margin-top: 30px;
  display: inline-block;
}

#popUp .popUpAction:hover {
  color: #fe052c;
  background: #fff;
}

/* Header styles */
header {
  background-color: #227C9D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  color: #fff;
  padding: 10px 2%;
  margin: 0;
  width: 85%;
  float: left;
  padding-left: 0;
}

/* Header navigation bar */
header nav {
  padding: 10px 2%;
  width: 76%;
  float: right;
  text-align: right;
  line-height: 30px;
  margin-top: 0;
  position: relative;
  vertical-align: middle;
}

/* Search bar */
header #search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
}

header #search a {
  display: block;
  width: 100%;
  padding: 10px;
}

header #search a:hover {
  background: #cc0020;
}

header #search img {
  width: 100%;
  display: block;
}

header #search input {
  position: absolute;
  right: 20px;
  /*top: 10px;*/
  padding: 8px 0;
  width: 0;
  transition: 0.2s all;
  visibility: hidden;
}

header #search.active input {
  width: 160px;
  padding: 8px 10px;
  visibility: visible;
}

header #search.active a {
  background: #cc0020;
}

header nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  transition: 0.2s all;
}

header nav a:hover {
  background-color: #fff;
  color: #cc0020;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-right: 30px;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background-color: #cc0020;
  position: relative;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 40px;
  right: -30px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* First Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Main Section */
#main {
  margin-top: 65px;
}

/* Individual Article Styling */
.article {
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
}

.article:hover {
  padding: 0 2%;
  background-color: #eee;
}

.article .featuredImage {
  width: 12%;
  float: left;
  margin: 1.5%;
  max-width: 150px;
}

.article .featuredImage img {
  max-width: 100%;
  /*border-radius: 50px;*/
}

.article .articleContent {
  width: 70%;
  float: left;
}

.article .articleContent a {
  text-decoration: none;
}

.article .articleContent h3 {
  margin-bottom: 0;
  color: #fe052c;
}

.article .articleContent h6 {
  margin-top: 0;
  color: #666;
}

.article .impressions {
  width: 15%;
  float: right;
  font-size: 30px;
  margin-top: 15px;
  text-align: right;
  color: #097fb2;
}

@media only screen and (min-width: 787px) {
.hidden-desktop {
  display:none !important;
}
}


@media only screen and (max-width: 786px) {
  
  h1 {
    font-size: 1em;
    margin: 0.67em 0;
  }
  header h1 {
    color: #fff;
    padding: 10px 2%;
    margin: 0;
    width: 100%;
    float: left;
    padding-left: 0;
    text-align: center;
    font-size: 14px;
  }
  .container ul li a {
    width: 100%;
    font-size: 12px;
  }
  #main,#timePeriod,#averageRating,#maxLength,#movieChoice {
    margin-top: 45px !important;
  }
  .container ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  #movieChoice h2 {
    font-size: 1rem;
    text-align: center;
    color: #227C9D;
    position: relative;
    float: right;
    width: 50%;
    top: 20vw;
  }
  #movieChoice ul li {
    display: flex;
    width: 48%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
  }
  #movieChoice img {
    width: 45% !important;
    float: left;
    /* display: inline-block; */
    position: relative;
    margin-bottom: 25px;
  }
  #movieChoice p {
    font-size: 12px;
    margin-top: 15px;
  }
  #movieChoice button {
    text-align: center;
    width: 50%;
    height: 8vw !important;
    position: relative;
    margin-bottom: 12vw;
    margin: 0 auto;
    display: block;
  }
  iframe {
    float: none !important;
    width: 320px;
    margin: 0 auto;
    display: block;
  }
  #movieChoice ul li img {
    width: 100% !important;
    float: left;
    /* display: inline-block; */
    position: relative;
    margin-bottom: 20;
  }
  
  #movieChoice ul li {
    display: flex;
    width: 45% !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
  }
  .hidden-mobile {
    display:none !important;
  }
}